
$primary:  rgb(197, 122, 9);
$secondary:  rgb(245, 194, 119);
$info:          rgb(103, 96, 134)t;
$light:        rgb(235, 227, 214);
$dark:          rgb(36,40,46);

$link-color:  rgb(241, 99, 4);
$link-hover-color: rgb(241, 99, 4);
$font-family-sans-serif:      system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
body {
    @include body-font;
    background-image: url('/assets/img/tausta_vaaka_harmaampi.png');
}

//ylle kaikki muutokset
@import '../node_modules/bootstrap/scss/bootstrap';